<div class="row fotograf-content">
  <div class="col-7">
    <h1>Hinter der Linse: Matthias Hoffmann</h1><br>
    <p>Saunabauer, Staffelläufer, Berliner und am Wochenende auch mal Brandenburger, Brunnenrestaurierer, Spieler der
      Rehfelder Rasenkicker, Obstbauer und Weihnachtsmann – Matthias "Matze" Hoffmann ist in seinem Leben schon in
      viele
      Rollen
      geschlüpft. Immer im Gepäck: sein nächstes Projekt.<br><br>
      In den 80er Jahren war der gebürtige West-Berliner als Fotograf unterwegs. Sein Motiv: die Berliner Mauer.
      Im Schnitt alle 300 Meter entlang der Mauer schoss er ein Bild mit seiner Pentax, fünf Jahre lang zwischen 1984
      und
      1989. 500 Fotos sind dabei entstanden – mit spielenden Kindern, betrunkenen Männern in langen Unterhosen und
      Tomatenpflanzen
      im Schatten der Mauer.<br><br>Ab 2019 wird die umfangreiche Sammlung nach einem technischen Umbau wieder online
      gehen.</p>
  </div>
  <div class="col-5">
    <img src="images/kamera.jpg" class="img-fluid">
  </div>
</div>