<div class="index-background">
  <div class="row">
    <div class="col col-left text-center">
      <h1>mauerfotos.de</h1>
      <h2>under construction...</h2>
    </div>
    <div class="col"></div>
  </div>
</div>