<h1>Das umfassendste Fotoarchiv im Internet</h1>
<br>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Fotos der Berliner Mauer</li>
  <li class="list-group-item">500 schwarz-weiß Bilder</li>
  <li class="list-group-item">zwischen 1984 und 1989 aufgenommen</li>
  <li class="list-group-item">ca. alle 300 Meter ein Foto</li>
</ul>
<br>
<div class="black-box">
  <p>mauerfotos.de ging 2001 erstmals online und befindet sich aktuell im technischen Umbau.<br>
    Der Relaunch ist für Frühling 2019 geplant.</p>
</div>